<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Nite-Out</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <link rel="stylesheet" type="text/css" href="styles/icecream-grid.css" />
</head>
<body ng-app='nite-out'>
  <h1>Nite-Out</h1>

  <!-- NG-IF not updating when the $scope.loginStatus is updated -->
  <div class="user-status" ng-controller="AuthController">
    <needlogin ng-if="!loginStatus[0]"></needlogin>
    <loggedin ng-if="loginStatus[0]"></loggedin>
  </div>

  <div class="i-g">
    <div class="i-2" ng-controller="cartController">
      <cart id="cart" style="position: fixed"></cart>
    </div>
    <div class="i-8" ui-view></div>
    <div class="i-2"></div>
  </div>

  <!-- <span> to be added to main page later
    <niteOutCart></niteOutCart>
  </span> -->

  <!-- distribution requirements -->
  <!-- <script src="dist/build.js"></script> -->

  <!-- development requirements -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>

  <script src="app/auth/auth.js"></script>
  <script src="app/auth/authServices.js"></script>
  <script src="app/checkout/checkout.js"></script>
  <script src="app/map/map.js"></script>
  <script src="app/map/services.js"></script>
  <script src="app/events/events.js"></script>
  <script src="app/events/services.js"></script>
  <script src="app/restaurants/restaurants.js"></script>
  <script src="app/restaurants/services.js"></script>
  <script src="app/movies/movies.js"></script>
  <script src="app/movies/services.js"></script>
  <script src="app/cart/cart.js"></script>
  <script src="app/main/main.js"></script>
  <script src="app/main/services.js"></script>
  <script src="app/app.js"></script>

  <script src="app/movies/showtimes.js"></script>
</body>
</html>
