<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>NiteOut</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <link rel="stylesheet" type="text/css" href="styles/icecream-grid.css" />
</head>
<body ng-app='nite-out'>
  <h1 ui-sref="main">NiteOut</h1>
  {{user}}
  <div class="user-status" ng-controller="AuthController">
    <needlogin ng-if="!loginStatus[0]"></needlogin>
    <loggedin ng-if="loginStatus[0]"></loggedin>
    <modal-dialog show="loginShown" action="getLoginData(userInfo)" template-url="app/auth/loginPage.html"></modal-dialog>
    <modal-dialog show="signupShown" action="postSignupData(userInfo)" template-url="app/auth/signupPage.html"></modal-dialog>
  </div>

  <div class="i-g">
    <div class="i-2" ng-controller="cartController">
      <cart class="shopping-cart"></cart>
    </div>
    <div class="i-8" ui-view></div>
    <div class="i-2"></div>
  </div>

  <!-- distribution requirements -->
  <!-- <script src="dist/build.js"></script> -->

  <!-- development requirements -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="app/auth/auth.js"></script>
  <script src="app/auth/services.js"></script>
  <script src="app/checkout/checkout.js"></script>
  <script src="app/map/map.js"></script>
  <script src="app/map/services.js"></script>
  <script src="app/events/events.js"></script>
  <script src="app/events/services.js"></script>
  <script src="app/restaurants/restaurants.js"></script>
  <script src="app/restaurants/services.js"></script>
  <script src="app/movies/movies.js"></script>
  <script src="app/movies/services.js"></script>
  <script src="app/movies/showtimes.js"></script>
  <script src="app/cart/cart.js"></script>
  <script src="app/cart/mycart.js"></script>
  <script src="app/main/main.js"></script>
  <script src="app/main/services.js"></script>
  <script src="app/app.js"></script>
</body>
</html>
