<div id='mapWrapper'>

  <style>
    .angular-google-map-container { height: 400px; width: 400px; }
    .item-text { color: blue; cursor: pointer; }
  </style>

  <google-map id='google-map' center="map.center" zoom="map.zoom"></google-map>

  <div class='.map-list'>
    <div class='.map-list-item' ng-repeat='place in places'>
      <div class='.info-item'>
        <div class='.title-item'><span>{{ place.title }}</span></div>
        <div ng-click='setCenter(place.address)' class='.address-item'><span class='item-text'>{{ place.address }}</span></div>
      </div>
    </div>
  </div>

</div>
