body {
  background-color: #202020;
  font-family: 'Roboto Condensed', sans-serif;
}

.angular-google-map-container {
  height: 400px;
  width: 400px;
}
.item-text {
  color: blue;
  cursor: pointer;
}
#google-map div {
  border-style: none;
}

h1, h3{
  text-align: center;
  color: #F0A83A;
}

.event {
  color: #9B9C9B;
  margin: 20px;
}

.event:hover{
  background-color: #4B433D;
}

.container {
  width: 100%;
}

.search-bar {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

.search-box{
  width: 80%;
  font-size: 1em;
}

.title {
  font-size: 1.2em;
  color: #A9342C;
}

.time, .phone {
  color: #6C8A95;
}

.logo {
  position: relative;
  float: right;
  top: 0px;
  height: 25px;
}

.address {
  color: #6C8A95;
}

a {
  color: #6C8A95;
}

.user-status {
  position: absolute;
  top: 0px;
  right: 5px;
  color: red;
}

