<ion-view class="login-view">
    <div class="logo">
      <h1> NiteOut </h1>
    </div>
    <div class="login-container">
      <div class="login-actions">
        <div class="row">
          <div class="col">
            <button class="btn">Sign Up</button>
          </div>
          <div class="col">
            <a ui-sref="main"><button class="btn">Sign In</button></a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn">
              <span class="ion-social-facebook" style="margin: 0 10px;"></span>Connect with Facebook
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="glass"></div>
    <div class="fade"></div>
</ion-view class ="login-view">
