<h3>Restaurants</h3>
  <center>
    <google-map id="google-map" center="map.center" zoom="map.zoom" control="map.control" draggable="true" fit="true" options="map.options" events="map.events">
      <markers models="restaurants" coords="'coords'" icon="'icon'" fit="'true'" control="restaurants.control" options="'options'" events="restaurants.events"></markers>
    </google-map>
  </center>
<div class="event" ng-repeat="restaurant in restaurants">
  <div ng-click="setCenter(restaurant)">
    <a href="{{restaurant.url}}" target="_blank"><img class="logo" src="assets/opentable.png"/></a>
    <span class="title" ng-click="setCenter()">{{restaurant.id}}. {{restaurant.name}}</span></br>
    <span class="phone">Phone: {{restaurant.phone}}</span></br>
    <span class="address">Address: {{restaurant.address}}</span></br>
  </div>
</div>

