.title.logo {
  font-family: 'Damion';
}
.angular-google-map-container {
  height: 300px;
}
.search-results {
  margin-top: 300px !important;
}
.theater {
  font-size: 14px;
}
.theater-info {
  font-size: 12px;
  color: #aaa;
}
.ion-ios7-settings-strong {
  padding-right: 16px;
}
.buy {
  width: 95% !important;
  margin: 0 auto !important;
}